@font-face {
    font-family: 'Nevan RUS';
    src: url('../fonts/Nevan RUS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-nevan {
    font-family: 'Nevan RUS', sans-serif;
}